@media only screen  and (max-width: 480px) {
    .primary-menu nav button.navbar-toggler {
        background-color: white;
    }
    /* john-banner-area  */
    .john-banner-content h3 {        
        margin-bottom: 0px;
    }
    .john-name {
        font-size: 60px;
    }
    .john-banner-content h2 {
        font-size: 35px;
        letter-spacing: 38px;
        margin-top: 0px;
    }
    .john-banner-content p.john-subtitle {
        margin-top: -10px;
        font-size: 40px;
        letter-spacing: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
      }
      .john-banner-area {
        background-position: center 0px;
      }
        /* john-Experience-area */
    .mehedi::after {    
        display: none;
    }

    .shuvo::before {    
        display: none;
    }
}