
:root{
	--primary-color:#15263e;
    --color1:#a21af0;
    --color2:#ff0072;
    --text-color:#4d4d4d;
}
.john-bg-gradian{
    background-image: -moz-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -webkit-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -ms-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
}
h1,h2,h3,h4,h5,h6,{
    font-family: 'ITC Avant Garde Gothic Std';
}
body{
    font-family: 'ITC Avant Garde Gothic';
    font-size: 18px;
    color: #494949;
    line-height: 30px;
}
i{
    width: 80px;
    height: 80px;
}
/*---------- header-area -------------------*/
.header-area{
    background-color: var(--primary-color);
}
.primary-menu ul li a{
    font-family: 'ITC Avant Garde Gothic';
    font-weight: 500;
    font-size: 13px;
}
.primary-menu ul li a::before{
 content:"-";
 margin-right: 30px;
}
.primary-menu ul li:first-child a:before, .primary-menu ul ul li a:before{
    display: none;
}
/*--------------- banner-area ----------------*/
.john-banner-area{
    background-image: url(../img/header-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -93px;
}
.john-banner-content{
    font-family: 'ITC Avant Garde Gothic';
}
.john-name{
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 153px; 
    latter-spacing: 20px;
}
.john-banner-content p.john-subtitle{
    margin-top: -50px;
    font-size: 120px;
    letter-spacing: 25px;
    margin-bottom: -12px;
    margin-left: 34px;
    line-height: normal;
}
.john-banner-content h3{
    margin-bottom: -20px;
}
/*----------------- about-us --------------*/
.john-about-left h4 {
    color: var(--color1);
}
.single-skill-procgress h2{
    color: #4d4d4d;
}
/*------------- john-contact-area ----------- */
.john-contact-info-area{
    background-color: #dcdcde;
}
.john-single-contact i{
    background-color: var(--primary-color);
    width: 70px;
    height:  70px;
}
/*------------ john-service-area ----------------*/
.john-section-heading h2{
    color: var(--primary-color);
    font-family: 'ITC Avant Garde Gothic Std';
}
/*----- testmonial-area---- */
.john-slider-area{
    background-image: url(../img/2manpic.jpg);
}
.single-carousel-right img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.single-carousel-author h5{
  color: var(--color1);
}
/*-------------- john-portfolio-area -----------*/
.protfolio-color li a{
    color: var(--text-color);
}
.protfolio-color li a:hover{
    color: var(--color1);
}


/*------------ john-experince-area ---------------*/
.mehedi::after {
    content: "";
    background-color: #dcdcde;   
    width: 14px;
    height: 62px;
    position: absolute;
    top: 8px; 
    left:300px;
  }

  .shuvo::before {
    content: "";
    background-color: #dcdcde;   
    width: 14px;
    height: 62px;
    position: absolute;
    top: 15px; 
    right:340px;
  }


/* -----------john-blog-area----------------------------------------*/

.paragarap {
    width: 100%;
    text-align: justify;
}


/* -----------john-footer-area------------------------------------*/

.john-footer-area {
    background-image: url(../img/Creative-One-Page-Portfolio-Website-Template-Free-PSD.jpg);
}
.back-c {
   background-color: var(--primary-color);
}
